﻿@charset "utf-8";
a{text-decoration: none; color:#2b2b2b}
a:hover{text-decoration: none; color:#3b3b3b}
body {
	background:#f9ebae;
	font-family: Verdana, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#5e5e5e;
	margin: 0px;
	padding: 0px;
	background: #f2f2f2 url("/Images/body_bg_top.gif") top repeat-x;
}
#wrapper{ width: 990px; margin: 0 auto; position: relative; min-height: 700px}
#header-text{ background: #2f2f2f; height:35px}
#header-text .left{ float: left; color: #828282; padding-left: 20px; padding-top: 5px}
#header-text .right{ float: right; color: #828282; padding-right: 20px; padding-top: 5px; }
#header{background: url("/Images/header.gif") top no-repeat; height: 10px}
#menu{background: url("/Images/menu_bg.gif") top repeat-x; height: 37px; margin-bottom: 20px}
#menu a, #menu span{display: inline-block; height: 37px; float: left}
#menu a{padding: 10px 20px 0 20px; height: 27px; color: #FFFFFF; font-size: 14px}
#menu a:hover{ color: #eeab00}
#menu .menu-clear{ background: url("/images/menu_bg_clear.gif") no-repeat; width: 2px; height: 37px}
#footer{background: #8f0700; text-align: center; color: #FFFFFF; padding-top: 5px; padding-bottom: 5px;}
#banner{ height: 265px; border: 0px solid #ff6e02; border-radius: 2px; background-color: #FFFFFF; padding-top: 0px}

#content{padding-top: -40px}
#content #left{ float: left; width:230px; padding-right:10px; border: 0px solid red}
#content #left .box{padding:5px 10px 5px 10px; margin-bottom:10px; width:208px; border: 1px solid #CCCCCC; border-radius:3px; background-color: #FFFFFF}
#content #left .box .head{ margin-top:-5px; margin-left:-10px; border-top-left-radius:3px;  border-top-right-radius:3px; width:203px; background: url("/Images/top_box_bg.gif") top repeat-x; height: 23px; color:#FFFFFF; padding: 7px 0 0 25px; font-size: 14px  }
#content #right{ float: left; width:740px; padding-left:10px; border: 0px solid red}
#content #right .box{padding:5px 10px 5px 10px; margin-bottom:10px; width:718px; border: 1px solid #CCCCCC; border-radius:3px; background-color: #FFFFFF}
#content #right .box .head{ margin-top:-5px; margin-left:-10px; border-top-left-radius:3px;  border-top-right-radius:3px; width:713px; background: url("/Images/top_box_bg.gif") top repeat-x; height: 23px; color:#FFFFFF; padding: 7px 0 0 25px; font-size: 14px  }

.diableLink
{
    color: #C1CDCD;
    pointer-events: none;
    cursor:default;
}
.clear{clear: both;}

*/*Set's border, padding and margin to 0 for all values*/
{
    padding: 0;
    margin: 0;
    border: 0;
}
h1 {
    font-weight:200;
    color: #888888;
    font-size:16pt;
    background: transparent url(/Images/h1.png) no-repeat center left;
    padding-left:33px;
    margin:7px 5px 8px 8px;
}
h4 {
    padding:1px;
    color: #ACACAC;
    font-size:9pt;
    font-weight:100;
    text-transform:uppercase;
}




div.register{
    width:800px;
    margin: 20px auto 0px auto;
    height:auto;
    background-color:#fff;
    padding:5px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

div p{
    font-size: 8pt;
    clear:both;
    margin: 0;
    color:gray;
    padding:4px;
}

div.register fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}

div.register fieldset.row1 label{
    width:100px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}


div.register fieldset.row2
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}
/*
div.register fieldset.row2 label{
    width:143px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
}
*/

div.register fieldset.row3
{
    width:auto;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:0px;
}
/*
div.register fieldset.row3 label,input,select,number{
    width:120px;
    float: left;
    text-align: left;
    margin-right: 6px;
    margin-top:2px;
}

div.register fieldset.row4
{
    border-top:1px solid #F1F1F1;
    border-right:1px solid #F1F1F1;
    padding:5px;
    float:left;
    clear:both;
    width:500px;
}

div.register .infobox{
    float:right;
    margin-top:20px;
    border: 1px solid #F1F1F1;
    padding:5px;
    width:380px;
    height:98px;
    font-size:9px;
    background: #FDFEFA url(/Images/bg_infobox.gif) repeat-x top left;
}

div.register legend
{
    color: #ff3300;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 14px;
    font-weight:100;
}
div.register label{
    color:#444;
    width:100px;
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    font-weight:bolder;
}
div.register label.optional{
    float: left;
    text-align: right;
    margin-right: 6px;
    margin-top:2px;
    color: #A3A3A3;
}
div.register label.obinfo{
    float:right;
    padding:3px;
    font-style:italic;
}

div.register input.long{
    width: 247px;
    color: #505050;
}
div.register input.short{
    width: 40px;
    color: #505050;
}
div.register input[type=radio]
{
    float:left;
    width:15px;
}
div.register label.gender{
    margin-top:-1px;
    margin-bottom:2px;
    width:34px;
    float:left;
    text-align:left;
    line-height:19px;
}
div.register input[type=text]
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width: 142px;
}
div.register input[type=password]
{
    border: 1px solid #E1E1E1;
    height: 18px;
}



div.register textarea {
	border: 1px solid #E1E1E1;
	border-style: solid;
	border-width: thin;
	padding: 3px;
	 width:430px;
}
div.register input[type=text].year
{
    border: 1px solid #E1E1E1;
    height: 18px;
    width:30px;
}
div.register input[type=checkbox] {
    width:14px;
    margin-top:4px;
}
div.register select
{
    border: 1px solid #E1E1E1;
    width: 130px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
div.register select.date
{
    width: 40px;
}



input:focus, select:focus{
    background-color: #efffe0;
}
p.info{
    font-size:7pt;
    color: gray;
}
p.agreement{
    margin-left:15px;
}
p.agreement label{
    width:390px;
    text-align:left;
    margin-top:3px;
}


*/
div.condition select
{
    border: 1px solid #E1E1E1;
    width: 130px;
    float:left;
    margin-bottom:3px;
    color: #505050;
    margin-right:5px;
}
div.condition input[type=text] {
    border: 1px solid #E1E1E1;
    height: 18px;
}
div.loginPartial input[type=text],input[type=password],input[type=button] {
	padding:0.15em;
	width:10em;
	border:1px solid #ddd;
	background:#fafafa;
	font:bold 0.95em arial, sans-serif;
	-moz-border-radius:0.4em;
	-khtml-border-radius:0.4em;
}





.buttons
{
    text-align: right;
    padding: 10px;
    background: #eee;
    border-top: solid 1px #e0e0e0;
    font-weight: bolder;
    
}
.button { background:#eee url(/Images/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:11px; padding:2px 6px 2px 6px; cursor:pointer; line-height:14px !important; }
.button1 { background:#eee url(/Images/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:11px; padding:2px 6px 2px 6px; cursor:pointer; line-height:11px !important;width:60px }
.button2 { background:#eee url(/Images/button.gif) repeat-x 0 0; border:solid 1px #b1a874; color:#7f7f7f; font-size:14px; padding:2px 6px 2px 6px; cursor:pointer; line-height:14px !important;width:100px }
DIV.ProgressBar { width: 100px; padding: 0; border: 1px solid black; margin-right: 1em; height:.75em; margin-left:1em; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline; }
DIV.ProgressBar DIV { background-color: Green; font-size: 1pt; height:100%; float:left; }
SPAN.asyncUploader OBJECT { position: relative; top: 5px; left: 10px; }


.table {}
.table th{ background:#fffdfa url(/images/th.gif) repeat-x 0 0; color:#818181; text-align: left; padding:7px 10px; border-bottom:solid 1px #d2d1cb;}
.table td{ background:#fbfcfc;  border-bottom:solid 1px #e0e0e0; padding:8px 10px; }
.table tr.odd td{ background:#f8f8f8; }
.table tr:hover td{ background:#fff9e1; }
.table a.ico{ }



.menupanel04{position: absolute; width:145px; padding:5px 2px 5px 2px; top: 380px; right:920px; border-radius:3px; visibility: hidden; background: #FFFFFF; z-index: 99; box-shadow: 0px 0px 5px #555555;}
.menupanel04 #menupanel04-inner {position: relative;}
.menupanel04 #menupanel04-inner .arrow{position: absolute; top:-15px; right:5px; width: 0px; height: 0px; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #FFFFFF transparent;}
.menupanel04 a{ background: #FFFFFF; font-size:13px; border:1px solid #FFFFFF; border-radius:3px; color: #555555; width: 120px; display: block; padding: 3px 10px 3px 13px;}
.menupanel04 a:hover{ background: #5475A4; border:none; color: #FFFFFF; border: 1px solid #415A7F;}

.menupanel05{position: absolute; width:145px; padding:5px 2px 5px 2px; top: 360px; right:550px; border-radius:3px; visibility: hidden; background: #FFFFFF; z-index: 99; box-shadow: 0px 0px 5px #555555;}
.menupanel05 #menupanel05-inner {position: relative;}
.menupanel05 #menupanel05-inner .arrow{position: absolute; top:-15px; right:5px; width: 0px; height: 0px; border-style: solid; border-width: 0 10px 10px 10px; border-color: transparent transparent #FFFFFF transparent;}
.menupanel05 a{ background: #FFFFFF; font-size:13px; border:1px solid #FFFFFF; border-radius:3px; color: #555555; width: 120px; display: block; padding: 3px 10px 3px 13px;}
.menupanel05 a:hover{ background: #5475A4; border:none; color: #FFFFFF; border: 1px solid #415A7F;}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

    #loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
    
a.addItem
{
    background: url(/images/i_add.png) no-repeat top left;
     display: block;
     width: 16px;
     height: 16px;
     text-indent: -9999px; /* hides the link text */
}
a.deleteItem {
    background: url(/images/i_delete.png) no-repeat top left;
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
}
.ExportSection
{
    margin:10px 0;
    float:left;
   
}
.ExportSection a
{
    text-decoration:none;
    padding:0 5px 0 0;
   
}