﻿@model DPUWebPhet10.Models.ScoreRound22Model
@using DPUWebPhet10.Helpers
@using PagedList.Mvc;
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
@{
    <div class="full_w" style="width: 800px">
        <div class="h_title" style="width: 785px">
            Manage pages - บันทึกคะแนน</div>
        @using (Html.BeginForm("Round2_2", "Score"))
        { 
            @Html.HiddenFor(model => model.studentName);
            <p>
                <label>
                    รหัสนักเรียน</label>
                @Html.EditorFor(model => model.studentCode)
                <input type="submit" name="actionName" class="button add" value="ค้นหา" style="width: 50px" />
                @Html.ValidationMessageFor(model => model.studentCode)
                @Model.studentName
            </p>
            
                                                       if (ViewBag.ResultMsg != null)
                                                       {
            <div class="n_ok">
                <p>
                    @ViewBag.ResultMsg
                </p>
            </div>
                                                       }

                                                       if (ViewBag.ResultErrorMsg != null)
                                                       {
            <div class="n_error">
                <p>
                    @Html.Raw(ViewBag.ResultErrorMsg.Replace("\n", "</br>"))
                </p>
            </div>
                                                       }


                                                       if (Model.studentName != null)
                                                       {
            <h1>
                บันทึกคะแนนกล่าวสุนทรพจน์</h1>
            <table>
                <tr>
                    <td style="width: 20px; text-align: left;">@Html.Label("กรรมการ")
                    </td>
                    <td style="width: 20px; text-align: center;">
                        เนื้อหาสาระ<br />
                        (20)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        การออกเสียงอักขระ<br />
                        (20)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        บุคลิกภาพ<br />
                        (5)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        เวลา<br />
                        (5)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score11)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score12)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score13)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.ValidationMessageFor(model => model.score14)
                    </td>
                    <td style="width: 20px">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">@Html.Label("(1)")
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score11)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score12)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score13)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.EditorFor(model => model.score14)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score21)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score22)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score23)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.ValidationMessageFor(model => model.score24)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">@Html.Label("(2)")
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score21)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score22)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score23)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.EditorFor(model => model.score24)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score31)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score32)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.ValidationMessageFor(model => model.score33)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.ValidationMessageFor(model => model.score34)
                    </td>
                </tr>
                <tr>
                    <td style="width: 20px; text-align: left;">@Html.Label("(3)")
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score31)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score32)
                    </td>
                    <td style="width: 20px; text-align: left;">
                        @Html.EditorFor(model => model.score33)
                    </td>
                    <td style="width: 20px; text-align: center;">
                        @Html.EditorFor(model => model.score34)
                    </td>
                </tr>
            </table>
            
            <div class="entry">
                <div class="sep">
                </div>
                <input type="submit" name="actionName" class="button" value="บันทึก" style="width: 50px" />
                @Html.ActionLink("ลบ", "clearRound22Score", new { id = Model.studentCode }, new { @class = "del button" })
            </div>
                                                       }
        }
    </div>
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#studentCode').focus();

        });
    </script>
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
