﻿@model IEnumerable<DPUWebPhet10.Models.TB_SCHOOL_DOCUMENT>
@{
    ViewBag.Title = "Index";
    var seq = 1;
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
<div class="full_w">
    <div class="h_title">
        Manage pages - เอกสาร</div>
    <div>
        <table>
            <tr>
                <th>
                    @Html.Label("ลำดับ")
                </th>
                <th>
                    @Html.Label("เอกสาร")
                </th>
                <th>
                    @Html.Label("")
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @seq
                    </td>
                    <td>
                        @item.DOCUMENT_PATH
                    </td>
                    <td>
                        @Html.ActionLink("Download", "Download1", new { Controller = "Files", file = item.DOCUMENT_PATH })
                    </td>
                </tr>
                seq++;
            }
        </table>
        <div class="entry">
            <div class="sep">
            </div>
            <a class="button cancel" href="/Management/SchoolList">ย้อนกลับ</a> 
        </div>
    </div>
