﻿@model DotNet.Highcharts.Highcharts
@{
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
@{
    <div class="full_w">
        <div class="h_title">
            Manage pages - รายงาน</div>
            @(Model)
    </div>  
    
}
<script type="text/javascript" src="/Scripts/Highcharts-3.0.1/js/highcharts.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">

        $(document).ready(function () {



        });
    </script>
}

