@charset "utf-8";

body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	background: #E9ECE6;
}
input[type='text'] { border:1px solid #40372E; background:#FAFAEE; border-radius: 3px; font-size: 15px; color: #9B9B9B; width: 300px; height: 20px}
input[type='text']:hover, input[type='text']:focus { border:1px solid #B1B1B1;}
input[type='button'], 
input[type='submit'], 
input[type='reset'] {border:1px solid #373D2F; background: #373D2F; border-radius: 5px; font-size: 14px; color: #FFFFFF; height: 25px; cursor: pointer;}
input[type='button']:hover, 
input[type='submit']:hover, 
input[type='reset']:hover {background: #8F8875; border-color: #8F8875; color: #FAFAEE;}
input[type='button']:active, 
input[type='submit']:active, 
input[type='reset']:active {background: #518EC4; border-color: #518EC4; color: #FFFFFF;}
a {	color: #2F5677;	text-decoration: none}
a:hover {color: #31507D}

#body-wrapper {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}

#content {position: relative; margin-top: 10px;}
#content-left {float: left; width: 290px}
#content-right {float: right; width: 900px;}



.clear{ clear: both;}
