﻿@model DPUWebPhet10.Models.Round1ReportModelCriteria
@using DPUWebPhet10.Helpers
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
@{
    <div class="full_w" style="width:850px">
        <div class="h_title">
            Manage pages - Export ข้อมูลพิมพ์กระดาษคำตอบ</div>
        @using (Html.BeginForm("ReportExportToPaper", "ExaminationSeatingPlan"))
        {
            @Html.Label("เลือกช่วงชั้น")

            @Html.DropDownListFor(model => model.studentLevel, new SelectList(
                      new List<Object>{ 
                           new { value = 0 , text = "-- เลือก --"  },
                           new { value = 1 , text = "ช่วงชั้นที่ 1 ประถมศึกษาปีที่ 1-3"  },
                           new { value = 2 , text = "ช่วงชั้นที่ 2 ประถมศึกษาปีที่ 4-6" },
                           new { value = 3 , text = "ช่วงชั้นที่ 3 มัธยมศึกษาปีที่ 1-3"},
                           new { value = 4 , text = "ช่วงชั้นที่ 4 มัธยมศึกษาปีที่ 4-6"},
                           new { value = 5 , text = "อุดมศึกษา"}
                        },
                      "value",
                      "text",
                                      0), new { style = "width: 200px" })
            <button type="submit" class="button">
                แสดง</button>
            <div class="sep">
            </div>

        }
        @if (Model.reports != null)
        {
            
            <table style="width:820px">
                <thead>
                    <tr>
                        <th>
                            ลำดับที่
                        </th>
                        <th>
                            เลขประจำตัว
                        </th>
                        <th>
                            ชื่อ-นามสกุล
                        </th>
                        <th>
                           ระดับชั้น
                        </th>
                        <th>
                            ชื่อสถานศึกษา
                        </th>
                        <th>
                            ห้องสอบ
                        </th>
                        <th>
                            เลขที่นั่งสอบ
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.reports)
                    {
                        <tr>
                            <td>
                                @result.seq
                            </td>
                            <td>@result.studentCode
                            </td>
                            <td>@result.studentFullName
                            </td>
                            <td>@result.studentLevel
                            </td>
                            <td>@result.schoolName
                            </td>
                            <td>@result.roomNo
                            </td>
                            <td>@result.remark
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            
            <div>
                @Html.PagedListPager(
                         Model.reports, page => Url.Action("ReportExportToPaper", new RouteValueDictionary() { { "Page", page }, { "studentLevel", Model.studentLevel } }),
                    PagedListRenderOptions.MinimalWithPageCountText)
            </div>
            

                    if (Model.reports.Count > 0)
                    {
                        <div class="entry" style="text-align:right;vertical-align:top;">
                            <div class="sep">
                            </div>
                            <span style="font-weight:bolder;">
                            @Html.Label("เลือกรูปแบบไฟล์")
                            </span>                        
                            @Html.ActionImage("ReportExportToExcel", new { studentLevel = Model.studentLevel }, "~/Images/ico-excel.png", "Edit")
                        </div>
                    }


        }
    </div>

}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
