﻿@model DPUWebPhet10.Models.TB_USER
@{
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
<div class="full_w">
    <div class="h_title">
        Manage pages - Edit Role</div>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.LASTED_LOGIN)
        @Html.HiddenFor(model => model.CREATE_DATE)
        @Html.HiddenFor(model => model.CREATE_BY)

        <div class="editor-label">
            @Html.LabelFor(model => model.ROLE_ID, "TB_ROLE")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ROLE_ID", String.Empty)
            @Html.ValidationMessageFor(model => model.ROLE_ID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.USERNAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.USERNAME)
            @Html.ValidationMessageFor(model => model.USERNAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PASSWORD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PASSWORD)
            @Html.ValidationMessageFor(model => model.PASSWORD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STATUS, "TB_M_STATUS")
        </div>
        <div class="editor-field">
            @Html.DropDownList("STATUS", String.Empty)
            @Html.ValidationMessageFor(model => model.STATUS)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EMAIL)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.EMAIL)
        </div>
    
        <div class="entry">
            <div class="sep">
            </div>
            <button type="submit" class="edit">
                แก้ไข</button>
            <a class="button" href="/User/Index">ยกเลิก</a>
        </div> 
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
