﻿<br />
ขอบคุณ  โรงเรียน / มหาวิทยาลัย : <%School Name%> สำหรับการลงทะเบียนเข้าร่วมการแข่งขันฯ  
<br />
<br />
บัญชีผู้ใช้งานระบบรับสมัครการแข่งขัน ฯ ของสถานศึกษา  คือ 
<br />
บัญชีผู้ใช้งาน  :  <%User%>
<br />
รหัสผ่าน:    <%Password%>
<br />
<br />
หมายเหตุ
<ul>
    <li style="list-style-type: decimal">
     สถานศึกษาต้องเก็บ บัญชีผู้ใช้งาน / รหัสผ่าน  ดังกล่าวไว้เป็นความลับ  เพื่อเข้าใช้ระบบในการแก้ไข   <br />
    ข้อมูลการสมัคร และ ส่งเอกสารยืนยันการสมัคร พร้อมแนบไฟล์เอกสารใบสมัครที่ลงนามโดยผู้บริหาร
    สถานศึกษา</li>
    <li style="list-style-type: decimal"> สมัครแข่งขันได้ที่เว็บไซต์  chinese.dpu.ac.th   ไม่จำกัดจำนวน</li>
    <li style="list-style-type: decimal"> กรณีขอเปลี่ยนแปลงครู/อาจารย์ผู้ควบคุมหรือนักเรียน/นักศึกษาที่แข่งขันโปรดแก้ไขและยืนยันข้อมูลผ่านเว็บไซต์ chinese.dpu.ac.th<br />  ภายในวันที่ 31 กรกฎาคม พ.ศ. 2557 เท่านั้น </li>
    <li style="list-style-type: decimal"> สามารถเข้าดูประกาศเลขประจำตัวสอบ / เลขที่นั่งสอบ / ห้องสอบ และพิมพ์ใบยืนยันการสมัครได้ใน วันที่ 9 สิงหาคม พ.ศ. 2557 ที่เว็บไซต์  chinese.dpu.ac.th   </li>
    <li style="list-style-type: decimal"> การติดต่อสอบถาม โทรศัพท์  : 0-2222-5863, 0-2954-7300 ต่อ 899 <br />E-mail  :  petch@dpu.ac.th.th  </li>
</ul>