
.form_button_1
{
	font-family: "MS Sans Serif";
    font-size:12px;
    width:68px;
    height:22px;
    font-weight:bold;
    color:black;
    text-decoration:none;
    cursor:pointer;

}

.form_textbox
{
	font-family: "MS Sans Serif";
    font-size:12px;
    width:130px;
    height:22px;
    font-weight:normal;
    color:black;
    text-decoration:none;
    cursor:pointer;
}
