#content {
    background-color: #FFF;
    color: #646464;
    float: left;
    margin: 0 auto;
    padding: 0;
    width: 62%;
}

#footer {
    clear: both;
    color: #134926;
    font-size: 11px;
}

#header {
    background-image: url('images/header.jpg');
    height: 68px;
    margin-left: 0;
    width: 1024px;
    /*width: 980px;*/
}

#left-column {
    background-color: #fff;
    color: #323232;
    float: left;
    font-size: 1.1em;
    vertical-align: top;
    width: 20%;
}

#logo {
    background: url('images/logo.gif') no-repeat;
    height: 80px;
    margin-left: 0;
    width: 300px;
}

#logout {
    color: #000;
    float: left;
    padding-right: 7px;
    padding-top: 5px;
    text-align: right;
    width: 47%;
}

#pageHeader {
    color: #fbd884;
    font-size: 1.1em;
    font-weight: 700;
    margin: .9em 2em .5em 0;
    padding-bottom: 5px;
    width: 100%;
}

#systemName {
    color: #FFF;
    float: left;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
    text-align: right;
    vertical-align: bottom;
    width: 98%;
}
* html .transparent {
    position: absolute;
}

.action {
    color: #00F;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1.2em .2em .7em;
    text-align: center;
    width: 100%;
}

.action a {
    font-size: .8em;
    font-weight: 700;
}

.action-center {
    padding: 1.2em .2em .7em;
    text-align: center;
}

.action-left {
    float: left;
    padding: 1.2em .2em .7em;
    text-align: right;
}

.action-right {
    float: right;
    padding: 1.2em .2em .7em;
    text-align: right;
}

.box_data {
    background-color: #f2fee3;
    border: solid 1px #8cc63f;
}

.box_header {
    background-color: #8cc63f;
    border-left: solid 1px #8cc63f;
    border-right: solid 1px #8cc63f;
    border-top: solid 1px #8cc63f;
    color: #fff;
    font-weight: 700;
    padding: .2em;
    text-align: left;
}

.box_seller {
    background-color: #f2fee3;
    border: solid 1px #8cc63f;
    display:block;
    margin: 0 auto;
    padding: 10px;
    vertical-align: middle;
    width: 550px;
}

.clear {
    clear: both;
}

.copyright {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
    width: 90%;
}

.history_block {
    background: #F0E4CC;
    height: 100px;
    padding-top: 2px;
    width: 100%;
}

.label_content {
    float: left;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    font-style: italic;
    padding-bottom: 2px;
    padding-top: 3px;
}

.main_title {
    color: #134926;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    text-decoration: underline;
}

.message {
    background-color: #E9E9E9;
    border: 1px solid #000;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
    width: 970px;
}

.required {
    color: red;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: 700;
}

.search_block {
    background: #F9F7ED;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-top: 5px;
}

.stack {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    height: 500px;
    overflow: auto;
    padding: 5px;
    width: 970px;
}

.std_text_left {
    color: #4F2916;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    text-align: left;
}

.std_text_right {
    color: #4F2916;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    text-align: right;
}

.sub_header {
    /*border-bottom: #1f6938 1px dashed;*/
    /*background-color: #00a467;*/
    /*background-color: #fff;*/
    color: #1f6938;
    border-bottom: #1f6938 1px dashed;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 1%;
    padding-left: 5px;
    width: 99%;
}

.title {
    float: left;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: left;
}

.title_bar {
    background: #fafafa;
    color: #1f6938;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: right;
}

.title_content {
    float: left;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    padding-bottom: 2px;
    padding-top: 3px;
}

.title_preview {
    float: left;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: left;
}


.warning_message {
    color: red;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.width_content {
    width: 750px;
}

.width_screen, .width_screen_menu {
    width: 1024px;
    /*width: 980px;*/
}

.width_struts_menu {
    width: 200px;
}

body {
    background-color: #FFF;
    font: normal 12px Tahoma, Verdana, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

div.pager {
    margin: 20px 0;
    text-align: center;
}

div.pager span.current {
    background-color: #fff;
    border: 0;
    color: #333;
    margin: 2px;
    padding: 1px 5px;
    text-decoration: none;
}

div.pager span.inactive {
    background-color: #fff;
    border: 0;
    color: #ccc;
    margin: 2px;
    padding: 1px;
    text-decoration: none;
}

hr {
    border: solid 1px;
    border-color: #ccd8df;
    clear: both;
}


input, textarea {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    margin: 1;
    padding: 3;
}

readonly {
    background: #EBEAEE;
}

.navi, .navi a:visited
{
	font-family: "Tahoma";
    font-size:13px;
    font-weight:normal;
    width: 100%;
    margin:0px;
    padding:5px;
    color:White;
    background-color:#999999;
}
.fontRowGrid, .fontRowGrid a:link
{
    color:#333333;
}