﻿@model DPUWebPhet10.Models.TB_APPLICATION_STAFF
@using DPUWebPhet10.Helpers

<div class="editorStaffRow" >
    @using (Html.BeginCollectionItem("Staffs"))
    {
        
        <table>
            <tr>
                <td style="width: 150px;text-align:center;">
            <!-- Teacher title -->
            @if (@HttpContext.Current.Session["PhetCulture"].ToString().Equals("th"))
            {                
                @Html.DropDownListFor(model => model.STAFF_TITLE_ID, new SelectList(
                      new List<Object>{ 
                           new { value = 0 , text = "-- เลือก --"  },
                           new { value = 3 , text = "นาย"},
                           new { value = 4 , text = "นางสาว"},
                           new { value = 5 , text = "นาง"}
                        },
                      "value",
                      "text",
                            0), new { style = "width: 100px" })
            }
            else
            { 
                

                @Html.DropDownListFor(model => model.STAFF_TITLE_ID, new SelectList(
                      new List<Object>{ 
                           new { value = 0 , text = "-- Select --"  },
                           new { value = 3 , text = "Mr."},
                           new { value = 4 , text = "Ms."},
                           new { value = 5 , text = "Mrs"}
                        },
                      "value",
                      "text",
                            0), new { style = "width: 100px" })
            }
                </td>
                <td style="width: 150px;text-align:left;">
                   @Html.EditorFor(model => model.STAFF_NAME)
                </td>
                <td style="width: 150px;text-align:left;">
                    @Html.EditorFor(model => model.STAFF_SURNAME)
                </td>
                <td style="width: 150px;text-align:left;">
                    @Html.EditorFor(model => model.STAFF_PHONE)
                </td>
                <td style="width: 150px">
                    <label class="delete-staff" style="text-align: left; cursor: pointer;" id="@Model.STAFF_ID">@DPUWebPhet10.Resources.Application.Application.LB_BUTTON_05</label>
                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.STAFF_ID)
        @Html.HiddenFor(model => model.STAFF_TITLE_ID)
        @Html.HiddenFor(model => model.STAFF_NAME)
        @Html.HiddenFor(model => model.STAFF_SURNAME)
        @Html.HiddenFor(model => model.STAFF_PHONE)

    }
</div>
