﻿.loadingBackground {
    cursor: wait;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: Gray url('../Images/loading.gif') no-repeat center;
    filter: alpha(opacity=50);
    opacity: 0.7;
    z-index: 10010;
}

.modalBackground {
    cursor: default;
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.modalPopup {
    cursor: default;
    background-color: White;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 10px 10px 10px 10px;
}

.validatorCalloutHighlight {
    background-color: #fffacd !important;
}

.ajax__validatorcallout_popup_table {
    width: 250px;
    left: auto !important;
    z-index: 10005 !important;
}

.ajax__validatorcallout_callout_cell {
    width: auto !important;
    height: auto !important;
}

.ajax__validatorcallout_callout_arrow_cell_toprightpos {
    padding: 0 !important;
}

.ajax__calendar_container {
    width: 190px !important;
    background-color: #ffffff !important;
    border: solid 1px rgb(111, 95, 94) !important;
    -moz-border-radius-topleft: 8px !important /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 8px !important /*{cornerRadius}*/;
    -khtml-border-top-left-radius: 8px !important /*{cornerRadius}*/;
    border-top-left-radius: 8px !important /*{cornerRadius}*/;
    -moz-border-radius-topright: 8px !important /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 8px !important /*{cornerRadius}*/;
    -khtml-border-top-right-radius: 8px !important /*{cornerRadius}*/;
    border-top-right-radius: 8px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 8px !important /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 8px !important /*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 8px !important /*{cornerRadius}*/;
    border-bottom-left-radius: 8px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 8px !important /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 8px !important /*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 8px !important /*{cornerRadius}*/;
    border-bottom-right-radius: 8px !important /*{cornerRadius}*/;
}

    .ajax__calendar_container thead tr td {
        text-indent: 0 !important;
        background-color: #ffffff !important;
        border: 0px !important;
        padding-top: 5px !important;
    }

    .ajax__calendar_container td {
        padding: 0 !important;
        margin: 0 !important;
    }

.ajax__calendar_body {
    width: 180px !important;
    height: 150px !important;
    background-color: #ffffff !important;
    border: solid 1px #eeeeee !important;
}

.ajax__calendar_header {
    background-color: rgb(255, 218, 0) !important;
    margin-bottom: 8px !important;
    -moz-border-radius-topleft: 4px !important /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 4px /*{cornerRadius}*/;
    -khtml-border-top-left-radius: 4px !important /*{cornerRadius}*/;
    border-top-left-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-topright: 4px !important /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-top-right-radius: 4px !important /*{cornerRadius}*/;
    border-top-right-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 4px !important /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 4px !important /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
    border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
}

.ajax__calendar_title {
    color: rgb(111, 95, 94) !important;
    padding-top: 3px !important;
}

.ajax__calendar_next, .ajax__calendar_prev {
    border: solid 2px #ffffff !important;
    background-color: #ffffff !important;
    -moz-border-radius-topleft: 18px !important /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 18px !important /*{cornerRadius}*/;
    -khtml-border-top-left-radius: 18px !important /*{cornerRadius}*/;
    border-top-left-radius: 18px !important /*{cornerRadius}*/;
    -moz-border-radius-topright: 18px !important /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 18px !important /*{cornerRadius}*/;
    -khtml-border-top-right-radius: 18px !important /*{cornerRadius}*/;
    border-top-right-radius: 18px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 18px !important /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 18px !important /*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 18px !important /*{cornerRadius}*/;
    border-bottom-left-radius: 18px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 18px !important /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 18px !important /*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 18px !important /*{cornerRadius}*/;
    border-bottom-right-radius: 18px !important /*{cornerRadius}*/;
}

.ajax__calendar_hover .ajax__calendar_next, .ajax__calendar_hover .ajax__calendar_prev {
    border: solid 2px #f7f7f7 !important;
    background-color: #ffffff !important;
    -moz-border-radius-topleft: 4px !important /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-top-left-radius: 4px !important /*{cornerRadius}*/;
    border-top-left-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-topright: 4px !important /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-top-right-radius: 4px !important /*{cornerRadius}*/;
    border-top-right-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 4px !important /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    border-bottom-left-radius: 4px !important /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 4px !important /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
    -khtml-border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
    border-bottom-right-radius: 4px !important /*{cornerRadius}*/;
}

.ajax__calendar_dayname {
    text-align: center !important;
    margin-bottom: 4px !important;
    margin-top: 2px !important;
    color: #000000 !important;
}

.ajax__calendar_day, .ajax__calendar_month, .ajax__calendar_year {
    margin: 1px 1px 1px 1px !important;
    text-align: center !important;
    border: solid 1px #eeeeee !important;
    color: #000000 !important;
    background-color: #f3f3f3 !important;
}

.ajax__calendar_hover .ajax__calendar_day, .ajax__calendar_hover .ajax__calendar_month, .ajax__calendar_hover .ajax__calendar_year {
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #328BC8 !important;
    border: solid 1px #328BC8 !important;
}

.ajax__calendar_active .ajax__calendar_day, .ajax__calendar_active .ajax__calendar_month, .ajax__calendar_active .ajax__calendar_year {
    color: #ffffff !important;
    font-weight: bold !important;
    background-color: #F7B64A !important;
}

.ajax__calendar_today .ajax__calendar_day {
    color: #CC0505 !important;
    font-weight: bold !important;
    background-color: #ffffff !important;
}

.ajax__calendar_other, .ajax__calendar_hover .ajax__calendar_today {
    color: rgb(50, 139, 200) !important;
}

.ajax__calendar_days {
    background-color: #ffffff !important;
}
