﻿@{
    

    if (@HttpContext.Current.Session["PhetCulture"].ToString().Equals("en"))
    {
        ViewBag.PageContent = "Program";
    }
    else
    {
        ViewBag.PageContent = "กำหนดการแข่งขัน";
    }
}
@if (@HttpContext.Current.Session["PhetCulture"].ToString().Equals("en"))
{
    <br />
    <br />
    <span><strong style="color: #4b0082; display: block; margin: 0px auto; text-align: center;">
        THE 10th ANNUAL CROWN DIAMOND CHINESE LANGUAGE CONTEST (International)<br />
        H.R.H. Crown Prince Cup<br />
        H.R.H. Princess Maha Chakri Cup<br />
        Phra Dharma Bhavana Vikrom Scholarships<br />
        (Academic Year 2014)<br />
        Sunday 24th August 2014 at Dhurakij Pundit University
        <br />
        ----------------------------------------</strong><br />
    </span>
    <table border="0" cellpadding="1" cellspacing="1" style="width: 800px;">
        <tbody>
            <tr>
                <td style="vertical-align: top;">
                    <strong>07:30 – 08:30 hr.</strong>
                </td>
                <td>
                    - Contestants are required to check in at the Contest Information Service Points
                    <br />
                    before proceeding to the test rooms and notice competition<br />
                    board of Diamond Cutting round
                    <br />
                    <br />
                    * Point 1 : Lower Elementary Level (Yr. 1-3)
                    <br />
                    at tent the way believes in a building , between Bldg.1 and Bldg. 4
                    <br />
                    * Point 2 : Upper Elementary Level (Yr. 4-6)
                    <br />
                    at front Bldg. 6 tent
                    <br />
                    * Point 3 : Lower Secondary Level (Yr. 1-3)<br />
                    at side Sitthi Tada Court tent ,<br />
                    * Point 4 : Upper Secondary Level (Yr. 4-6)
                    <br />
                    at the Bldg. 7 Ground Floor (Chalerm Phrakiat Bldg.)<br />
                    * Point 5 : University Level
                    <br />
                    at DPU Printing House front
                    <br />
                    &nbsp; &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>8:30 hr.</strong>
                </td>
                <td>
                    - Contestants will be allowed into the test rooms.<br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>9:00-10:00 hr.</strong>
                </td>
                <td style="font-weight: bolder">
                    Diamond Cutting Round<br />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>13:00 hr.</strong>
                </td>
                <td>
                    - Results of the Diamond Round will be announced at the Contest Information Service
                    <br />
                    Points and electronically. Winners should report to the Contest Information Service
                    <br />
                    Point of their appropriate level.
                    <br />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>13:30 hr.</strong>
                </td>
                <td style="font-weight: bolder">
                    Crown Diamond Round<br />
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>13:30 hr.</strong>
                </td>
                <td>
                    - Consolation Prize Winners should report to the Pridi Bhanomyong Conference
                    <br />
                    Room, 6th Floor, Chalerm Phrakiat (7th) Bldg.
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left: 40px;">
        &nbsp;&nbsp;</p>
    <table border="0" cellpadding="2" cellspacing="2" style="width: 700px;">
        <tbody>
            <tr>
                <td style="text-align: center; background-color: rgb(243, 215, 255);">
                    <span style="color: #4b0082;"><strong>Crown Diamond Round Program</strong></span>
                </td>
                <td style="text-align: center; background-color: rgb(215, 224, 255);">
                    <span style="color: #0000cd;"><strong>Program for Qualified Consolation Prize Winners</strong></span>
                </td>
            </tr>
            <tr>
                <td style="background-color: rgb(249, 236, 255);">
                    <br />
                    <span style="color: #4b0082;"><strong>Essay writing (13:30-14:30 hr.)</strong><br />
                    </span>
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * Lower Elementary Level (Yr.1-3)in Sajja 2 Room, President
                    Office 2 Bldg.
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * Upper Elementary Level (Yr. 4-6) in Room 7203, 2rd
                    Fl. Bdg.7
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * Lower Secondary Level (Yr. 1-3) in Room 7302, 3rd
                    Fl. Bldg. 7
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * Upper Secondary Level (Yr. 4-6) in Room 3-1, 3er Fl.,
                    President Office 2 Bldg.
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * University Level in Room 3-1, 3er Fl., President Office
                    2 Bldg.
                    <br />
                    <span style="color: #4b0082;"><strong>Public Speaking (14:30-15:30)</strong><br />
                    </span>
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; *Lower Elementary Level (Yr.1-3) in Sajja 1 Room, President
                    Office 2 Bldg.
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;*Upper Elementary Level (Yr. 4-6) in Room
                    7202, 2rd Fl. Bdg.7
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; *Lower Secondary Level (Yr. 1-3) in Room 7509, 5rd Fl.
                    Bldg. 7
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp;*Upper Secondary Level (Yr. 4-6) in Room 6-1, 6er Fl.,President’s
                    Office Bldg.
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; *University Level in Room 5-2, 5er Fl., President’s
                    Office 2 Bldg.
                </td>
                <td style="vertical-align: top; background-color: rgb(233, 238, 255);">
                    <br />
                    <strong><span style="color: #0000cd;">13:30-14:30 hr.</span></strong><br />
                    <span style="color: #0000cd;"></span>Reporting at the Pridi Bhanomyong Conference
                    Room,<br />
                    6th Floor, Chalerm Phrakiat (7th) Bldg.
                    <br />
                    &nbsp; &nbsp; &nbsp; &nbsp; Accepting awards<br />
                    <br />
                    <span style="color: #0000cd;"><strong>14:30-15:30 hr.</strong></span><br />
                    &nbsp; &nbsp; &nbsp;&bull; Presentation of scholarships and certificates to consolation
                    prize winners of the Crown Diamond Chinese<br />
                    Language Contest at the Elementary, Secondary and University Levels in the Pridi
                    Bhanomyong<br />
                    Conference Room, 6th Floor, Chalerm Phrakiat (7th) Bldg.
                    <br />
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
    <table border="0" cellpadding="1" cellspacing="1" style="width: 800px;">
        <tbody>
            <tr>
                <td style="vertical-align: top;">
                    <strong>16:30 hr.</strong>
                </td>
                <td>
                    - Results of the Crown Diamond Round will be announced and winners registered
                    <br />
                    at the Pridi Bhanomyong Conference Room, 6th Floor, Chalerm Phrakiat (7th) Bldg.
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>17:00 hr.</strong>
                </td>
                <td>
                    - Award Ceremony at the Pridi Bhanomyong Conference Room, 6th Floor, Chalerm
                    <br />
                    Phrakiat (7th) Bldg.
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
}
else
{
@*    <img src="~/Images/banner2.png" style="margin-left: -10px;" width="738" />*@
    <br />
    <br />
    <table border="0" cellpadding="1" cellspacing="1" style="width: 800px;">
        <tbody>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 07.30 - 08.30 น.</strong>
                </td>
                <td>
                    - ผู้เข้าแข่งขัน รายงานตัวที่ห้องสอบ<br />
                    หมายเหตุ&nbsp; จุดบริการข้อมูลรับสมัครฯ<br />
                    * จุดที่ 1 : เต็นท์ด้านหน้าทางเชื่อมอาคาร 1 &ndash; 4 (ถนนสาย 2) และ<br />
                    บอร์ดประกาศผลการแข่งขันรอบเจียระไนเพชรระดับชั้นประถมศึกษาปีที่ 1&ndash;3<br />
                    * จุดที่ 2 : เต็นท์ด้านหน้าอาคาร 6 (ถนนสาย 3) และ<br />
                    บอร์ดประกาศผลการแข่งขันรอบเจียระไนเพชรระดับชั้นประถมศึกษาปีที่ 4&ndash;6<br />
                    * จุดที่ 3 : เต็นท์ด้านข้างศาลพระสิทธิธาดา และ<br />
                    บอร์ดประกาศผลการแข่งขันรอบเจียระไนเพชรระดับชั้นมัธยมศึกษาปีที่ 1&ndash;3<br />
                    * จุดที่ 4 : โถงชั้นล่างอาคาร 7 (อาคารเฉลิมพระเกียรติ) และ<br />
                    บอร์ดประกาศผลการแข่งขันรอบเจียระไนเพชรระดับชั้นมัธยมศึกษาปีที่ 4&ndash;6<br />
                    * จุดที่ 5 : ด้านหน้าโรงพิมพ์ มธบ. และ<br />
                    บอร์ดประกาศผลการแข่งขันรอบเจียระไนเพชรระดับอุดมศึกษา
                    <br />
                    &nbsp; &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 08.30 น.</strong>
                </td>
                <td>
                    - ผู้แข่งขันเข้าห้องสอบ<br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 09.00 - 10.00 น.</strong>
                </td>
                <td>
                    - แข่งขันรอบเจียระไนเพชร<br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 13.00 น.</strong>
                </td>
                <td>
                    - ประกาศผลการแข่งขันรอบเจียระไนเพชร ณ บริเวณจุดบริการข้อมูลรับสมัครฯ แต่ละ<br />
                    &nbsp;&nbsp; ระดับชั้น&nbsp;&nbsp; และทางอิเล็กทรอนิกส์&nbsp;&nbsp; สำหรับผู้ผ่านเข้ารอบเพชรยอดมงกุฎรายงานตัว<br />
                    &nbsp;&nbsp; ที่หน้าห้องสอบแข่งขันเรียงความของแต่ละระดับ<br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 13.30 น.</strong>
                </td>
                <td>
                    - เริ่มแข่งขันรอบเพชรยอดมงกุฎ<br />
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 13.30 &ndash; 14.00 น.</strong>
                </td>
                <td>
                    - ผู้เข้าแข่งขันที่ได้รับรางวัลชมเชยรายงานตัว ณ บริเวณห้องประชุมปรีดี พนมยงค์<br />
                    &nbsp; ชั้น 6 อาคารเฉลิมพระเกียรติฯ (อาคาร 7)<br />
                    &nbsp;
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin-left: 40px;">
        &nbsp;&nbsp;</p>
    <table border="0" cellpadding="2" cellspacing="2" style="width: 700px;">
        <tbody>
            <tr>
                <td style="text-align: center; background-color: rgb(243, 215, 255);">
                    <span style="color: #4b0082;"><strong>กำหนดการสำหรับผู้เข้ารอบเพชรยอดมงกุฎ</strong></span>
                </td>
                <td style="text-align: center; background-color: rgb(215, 224, 255);">
                    <span style="color: #0000cd;"><strong>กำหนดการสำหรับผู้ได้รับรางวัลชมเชยและผ่านเกณฑ์</strong></span>
                </td>
            </tr>
            <tr>
                <td style="background-color: rgb(249, 236, 255);">
                    <br />
                    <span style="color: #4b0082;"><strong>เวลา 13.30 &ndash; 14.30 น.</strong><br />
                        <strong>&nbsp; &nbsp; &nbsp;- แข่งขันเรียงความ</strong></span><br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * ประถมศึกษาตอนต้น (ป.1-3) ห้องประชุมสัจจา 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; อาคารสำนักอธิการบดี 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp;* ประถมศึกษาตอนปลาย (ป.4-6) ห้อง 7203 อาคาร 7 ชั้น 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp;* มัธยมศึกษาตอนต้น (ม.1-3) ห้อง 7302 อาคาร 7&nbsp; ชั้น
                    3<br />
                    &nbsp; &nbsp; &nbsp; &nbsp;* มัธยมศึกษาตอนปลาย (ม.4-6) ห้อง 3-1 ชั้น 3<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;อาคารสำนักอธิการบดี 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp;* ระดับอุดมศึกษา ห้อง 3-6 ชั้น 3 อาคารสำนักอธิการบดี
                    2<br />
                    <br />
                    <span style="color: #4b0082;"><strong>เวลา 14.30 &ndash; 15.30 น.</strong><br />
                        <strong>&nbsp; &nbsp; &nbsp;- แข่งขันพูดสุนทรพจน์</strong></span><br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * ประถมศึกษาตอนต้น (ป.1-3) ห้องประชุมสัจจา 1<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;อาคารสำนักอธิการบดี 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * ประถมศึกษาตอนปลาย (ป.4-6) ห้อง 7202 อาคาร 7 ชั้น 2<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * มัธยมศึกษาตอนต้น (ม.1-3) ห้อง 7509 อาคาร 7 ชั้น 5<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * มัธยมศึกษาตอนปลาย (ม.4-6) ห้อง 6-1<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; อาคารสำนักอธิการบดี&nbsp; ชั้น 6<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; * ระดับอุดมศึกษา ห้อง 5-2 อาคารสำนักอธิการบดี 2 ชั้น
                    5
                </td>
                <td style="vertical-align: top; background-color: rgb(233, 238, 255);">
                    <br />
                    <strong><span style="color: #0000cd;">เวลา 13.30 &ndash; 14.00 น.</span></strong><br />
                    <span style="color: #0000cd;"><strong>&nbsp; &nbsp; &nbsp;&bull; รายงานตัว </strong>
                    </span>ณ หน้าห้องประชุมปรีดี พนมยงค์&nbsp; ชั้น 6<br />
                    &nbsp; &nbsp; &nbsp; &nbsp; อาคารเฉลิมพระเกียรติฯ และเข้าห้องประชุมเพื่อรับรางวัล<br />
                    <br />
                    <span style="color: #0000cd;"><strong>เวลา 14.00 &ndash; 15.30 น.</strong></span><br />
                    <span style="color: #0000cd;"><strong>&nbsp; &nbsp; &nbsp;&bull; พิธีมอบทุนการศึกษาและเกียรติบัตร
                        ผู้เข้าแข่งขันที่ได้รับ<br />
                        &nbsp; &nbsp; &nbsp; &nbsp; รางวัลชมเชยการแข่งขันเพชรยอดมงกุฎ ประถมศึกษา</strong></span><br />
                    <strong style="color: rgb(0, 0, 205);">&nbsp; &nbsp; &nbsp; &nbsp; มัธยมศึกษา และอุดมศึกษา</strong><br />
                    &nbsp; &nbsp; &nbsp; &nbsp; ณ ห้องประชุมปรีดี พนมยงค์&nbsp; (ชั้น 6)&nbsp;อาคารเฉลิมพระเกียรติฯ
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
    <table border="0" cellpadding="1" cellspacing="1" style="width: 800px;">
        <tbody>
            <tr>
                <td style="vertical-align: top;">
                    <strong>เวลา 16.30 น.</strong>
                </td>
                <td>
                    - ประกาศผลการแข่งขันรอบเพชรยอดมงกุฎ และลงทะเบียนรายงานตัวหน้าห้องประชุมปรีดี พนมยงค์
                    ชั้น 6<br />
                    อาคารเฉลิมพระเกียรติฯ (อาคาร 7)<br />
                    - พิธีมอบรางวัล ณ ห้องประชุมปรีดี พนมยงค์&nbsp; ชั้น 6 อาคารเฉลิมพระเกียรติฯ (อาคาร
                    7)
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        &nbsp;</p>
}
@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

        });
    </script>
}
