﻿@model DPUWebPhet10.Models.TB_ROLE
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Managementlayout.cshtml";
}
<div class="full_w">
    <div class="h_title">
        Manage pages - Delete Role</div>
    <h3>
        Are you sure you want to delete this?</h3>
    <p style="font-weight:bold">
        @Html.DisplayNameFor(model => model.NAME)
    </p>
    <p>
        @Html.DisplayFor(model => model.NAME)
    </p>
    <p style="font-weight:bold">
        @Html.DisplayNameFor(model => model.DESCRIPTON)
    </p>
    <p>
        @Html.DisplayFor(model => model.DESCRIPTON)
    </p>
    <p style="font-weight:bold">
        @Html.DisplayNameFor(model => model.STATUS)
    </p>
    <p>
        @Html.DisplayFor(model => model.STATUS)
    </p>
    @using (Html.BeginForm())
    {
    
        <div class="entry">
            <div class="sep">
            </div>
            <button type="submit" class="cancel">ลบ</button>
            <a class="button" href="/Role/Index">ยกเลิก</a>
        </div>
    }
</div>
