﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="LiveWarning.aspx.cs" Inherits="DOH.DC.Web.Views.Live.LiveWarning" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <iframe name="myIframe" id="myIframe" width="100%" height="600px" runat="server"
        visible="True"></iframe>
</asp:Content>
