﻿@model DPUWebPhet10.Models.Report07ModelCriteria
@using DPUWebPhet10.Helpers
@using PagedList.Mvc;
@{
    ViewBag.Title = "ประกาศห้องสอบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var grid = new WebGrid(Model.reports, rowsPerPage: 10, ajaxUpdateContainerId: "worksajaxgrid",
    ajaxUpdateCallback: "ajaxUpdate_Callback");
    <!-- Content -->


    <!-- Box Head -->
    <div class="box-head">
        <br />
        <div class="condition">
            @using (Html.BeginForm("Report07", "Report"))
            {
                <table>
                    <tr>
                        <td style="text-align: right">
                            @Html.Label("เลือกระดับชั้น")
                        </td>
                        <td>
                            <!-- Student level -->
                            @if (@HttpContext.Current.Session["PhetCulture"].ToString().Equals("en"))
                            {                

                                @Html.DropDownListFor(model => model.level, new SelectList(
                      new List<Object>{ 
                           new { value = 0 , text = "-- All --"  },
                           new { value = 1 , text = "Level 1 Grade 1-3"  },
                           new { value = 2 , text = "Level 2 Grade 4-6" },
                           new { value = 3 , text = "Level 3 Grade 7-9"},
                           new { value = 4 , text = "Level 4 Grade 10-12"},
                           new { value = 5 , text = "University Education"}
                        },
                      "value",
                      "text",
                            0), new { style = "width: 142px" })
                            }
                            else
                            { 
                                @Html.DropDownListFor(model => model.level, new SelectList(
                      new List<Object>{ 
                           new { value = 0 , text = "-- ทั้งหมด --"  },
                           new { value = 1 , text = "ช่วงชั้นที่ 1 ประถมศึกษาปีที่ 1-3"  },
                           new { value = 2 , text = "ช่วงชั้นที่ 2 ประถมศึกษาปีที่ 4-6" },
                           new { value = 3 , text = "ช่วงชั้นที่ 3 มัธยมศึกษาปีที่ 1-3"},
                           new { value = 4 , text = "ช่วงชั้นที่ 4 มัธยมศึกษาปีที่ 4-6"},
                           new { value = 5 , text = "อุดมศึกษา"}
                        },
                      "value",
                      "text",
                                 0), new { style = "width: 200px" })
                            }
                        </td>
                        <td>
                            <input type="submit" class="button" value="ค้นหา" style="width: 50px" />
                        </td>
                    </tr>
                </table>
            }
        </div>
        <br />
    </div>
    <div class="table" id="gridContent">
        @if (Model.reports != null)
        {
            if (Model.reports.Count == 0)
            {
            <!-- Not found data -->
            <div style="text-align: center; color: Red">
                <h2>
                    @Html.Label("ไม่พบข้อมูล")
                </h2>
            </div>             
             
            }
            else
            {   
            <table width="100%">
                <thead>
                    <tr>
                        <th>
                            ลำดับ
                        </th>
                        <th>
                            อาคาร
                        </th>
                        <th>
                            ชั้น
                        </th>
                        <th>
                            ห้องสอบ
                        </th>
                        <th>
                            ที่นั่งสอบ
                        </th>
                        <th>
                            จำนวนที่นั่ง
                        </th>
                        <th>
                            ระดับชั้น
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var result in Model.reports)
                    {
                        <tr>
                            <td>
                                @result.seq
                            </td>
                            <td>
                                @result.exam_building
                            </td>
                            <td>
                                @result.floor
                            </td>
                            <td>@result.exam_room
                            </td>
                            <td>@result.seatNumber
                            </td>
                            <td>@result.seatCount
                            </td>
                            <td>
                                @result.forLevel
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model.reports,
            page => Url.Action("Report07", new RouteValueDictionary() {
               { "Page", page },{ "level", Model.level }
            }),
            PagedListRenderOptions.MinimalWithPageCountText)
            }
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>


    <!-- End Content -->


    
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
