body
{
    font-family: Tahoma, Arial, Geneva, Sans-Serif;
    font-weight: normal;
    font-size: 12px;
    color: #2B1B17;
    margin: 0px;
    padding: 0px;
}
/*
input[type='submit']{border:1px solid #006fc5; border-top:1px solid #0088f2; border-bottom:1px solid #005ea7; background:url(/images/btn_bg.gif) repeat-x;  color:#FFFFFF; height:22px; font-size:12px; border-radius: 3px; padding-left:15px; padding-right:15px}
input[type='reset']{border:1px solid #006fc5; border-top:1px solid #0088f2; border-bottom:1px solid #005ea7; background:url(/images/btn_bg.gif) repeat-x;  color:#FFFFFF; height:22px; font-size:12px; border-radius: 3px; padding-left:15px; padding-right:15px}
input[type='button'], .button_link, .button_cancel{border:1px solid #006fc5; border-top:1px solid #0088f2; border-bottom:1px solid #005ea7; background:url(/images/btn_bg.gif) repeat-x;  color:#FFFFFF; height:22px; font-size:12px; border-radius: 3px; padding-left:15px; padding-right:15px}
*/
a
{
    color: #d76609;
    text-decoration: underline;
}

a:hover
{
    color: #d76609;
}
.inner
{
    width: 1000px;
    margin: 0 auto;
}
.inner .top-logo
{
    float: left;
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 18px;
}
.inner .top-menu
{
    float: right;
    color: #FFFFFF;
    font-size: 16px;
}
.inner .top-menu a
{
    color: #FFFFFF;
    text-decoration: none;
}
.inner .top-menu .my-account
{
    margin-top: 10px;
    float: left;
}
.inner .top-menu .my-account a
{
    background: url(/images/user.png) no-repeat top left;
    padding-left: 20px;
    height: 16px;
    margin-top: 10px;
}
.inner .top-menu .logout
{
    margin-top: 10px;
    float: left;
}
.inner .top-menu .logout a
{
    background: url(/images/lock.png) no-repeat top left;
    padding-left: 20px;
    height: 16px;
    margin-top: 10px;
    margin-left: 20px;
}
.top-panel
{
    height: 40px;
    position: relative;
}
.main-panel
{
    height: 60px;
    position: relative;
}
.main-panel #main-logo
{
    margin-top: 10px;
    float: left;
}
.main-panel #main-menu
{
    margin-top: 15px;
    float: right;
}
.main-panel #main-menu div
{
    float: left;
    margin-left: 20px;
}
.main-panel #main-menu div a
{
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    height: 23px;
    display: block;
    padding-left: 30px;
    padding-top: 5px;
}
.main-panel #main-menu div a.truck-data
{
    background: url(/images/ico_3.png) no-repeat top left;
}
.main-panel #main-menu div a.master-data
{
    background: url(/images/ico_2.png) no-repeat top left;
}
.main-panel #main-menu div a.report
{
    background: url(/images/ico_1.png) no-repeat top left;
}
.main-panel #main-menu div a.user
{
    background: url(/images/ico_4.png) no-repeat top left;
}
#top-wrapper
{
    background: url(/images/body_top_bg.jpg) repeat-x;
    height: 108px;
}
#main-wrapper
{
}
#main
{
    min-height: 480px;
}
#bottom-wrapper
{
    background: url(/images/body_bottom_bg.jpg) repeat-x;
    height: 50px;
}

#top-footer
{
    height: 18px;
    text-align: center;
    padding-top: 2px;
}
#top-footer span.th
{
    color: #444444;
}
#top-footer span.en
{
    color: #999999;
}
#bottom-footer
{
    height: 25px;
    text-align: center;
    padding-top: 7px;
    color: #FFFFFF;
}




.validate
{
    color: Red;
}
/***** fieldset *****/
fieldset
{
    margin: 10px auto;
    width: 98%;
    background-color: #f7f7f7;
    border: 1px solid #c06000;
}

/***** table Search *****/
.tbSearch
{
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px 10px 0px;
}
.tbSearch .HeadRow
{
    background-color: #cccccc;
    padding: 3px 10px;
    text-align: right;
    width: 150px;
}
.tbSearch .Search
{
    text-align: left;
    padding-top: 20px;
}

/***** Other *****/


.title1
{
    color: #118c32;
    font-weight: bold;
    font-size: 20px;
}
.title2
{
    color: #2B1B17;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
}
.title3
{
    color: #444444;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    text-align:left;
}
.title4
{
    color: #994400;    
    font-weight: bold;
    font-size: 15px;
}
.tb_Result, .tb_ResultList
{
    width: 100%;
    margin: 5px auto;
}
.tb_Result .Search, .tb_ResultList .Search
{
    text-align: left;
    padding-top: 30px;
}
.tb_ResultList th
{
    background: #c95f2f url('../images/tb_Header.png') repeat-x top;
    border-collapse: collapse;
    padding: 8px 3px;
    border: 1px solid #cfcace;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.tb_ResultList tr:hover td
{
    background-color: #F1F1F1;
}
.tb_ResultList td
{
    border-collapse: collapse;
    border: 1px solid #cfcace;
    padding: 3px 3px 3px 5px;
}
.tb_ResultList td img
{
    cursor: pointer;
}
.tb_ResultList .BG_1
{
    background-color: #f3faf3;
}
.tb_ResultList .BG_2
{
    background-color: #ffffff;
}
#divWrapper
{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border: 0px;
    width: 100%;
    text-align: center;
}

#divDeleteResult
{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 450px;
    height: auto;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin-top: 50px;
    background-color: #F7F7F7;
    margin-bottom: 10px;
}

#divDeleteResult h1
{
    padding: 0px;
    margin: 0px;
    color: #269CCB;
}
/***** Loading *****/
.loadingBackground
{
    cursor: wait;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: Gray url('/Images/loading.gif') no-repeat center;
    filter: alpha(opacity=50);
    opacity: 0.7;
    z-index: 11000;
}

.icon
{
    float: left;
    width: 110px;
    height: 90px;
}

.icon a
{
    border: 1px solid #DDDDDD;
    color: #666666;
    width: 100px;
    height: 20px;
    padding-top: 60px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

.icon a:hover
{
    border: 1px solid #CCCCCC;
}

.ico-permission a
{
    background: url('../images/permission.png') no-repeat top center;
}

.ico-user-management a
{
    background: url('../images/user-ico.png') no-repeat top center;
}

.ico-station a
{
    background: url('../images/station.png') no-repeat top center;
}

.ico-report a
{
    background: url('../images/report.png') no-repeat top center;
}

.success
{
    color: #068946;
    font-size: 14px;
    background-color: #CDF7E1;
    border-top: 1px solid #068946;
    border-bottom: 1px solid #068946;
    padding: 10px 0 10px 20px;
    margin-bottom: 10px;
}

.error
{
    color: #BB4040;
    font-size: 14px;
    background-color: #F9D8D8;
    border-top: 1px solid #BB4040;
    border-bottom: 1px solid #BB4040;
    padding: 10px 0 10px 20px;
    margin-bottom: 10px;
}

.div_Menu
{
    padding-top: 20px;
    border-bottom: 5px solid #0E9132;
}
.div_SubMenu
{
    font-size: 11px;
    background-color: #eeeeee;
    padding: 5px 10px;
}


.modalBackground
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}
.modalPopup
{
    background-color: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-top: 10px;
    padding-left: 10px;
    width: 300px;
    height: 140px;
}



#entry-author-info
{
    width: 900px;
    float: left;
    margin-bottom: 15px;
    padding: 0px 0px 15px 0px;
    border-bottom: 2px dashed #CCCCCC;
    background-color: #FFFFFF;
    line-height: 16px;
}

#author-avatar {
	width: 120px;
	height: 104px;
	float: left;
	margin-right: 10px;
	background-image: url(/images/author-profile-img-bg.png);
	background-position: top;
	background-repeat: no-repeat;
}

#author-avatar img {
	margin: 10px;	
}
#author-description
{
    width: 552px;
    float: left;
}
h2.author
{
    font-family: "myriad-pro-n6" , "myriad-pro-1" , "myriad-pro-2" , arial, helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 0px 0px 4px 0px;
}
